---
import Welcome from '../components/Welcome.astro'
import Layout from '../layouts/Layout.astro'
import NumberDisplay from '../components/NumberDisplay.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <h1>Random Number</h1>
    <p><strong>Current time:</strong> <span id='current-time'></span></p>
    <NumberDisplay />
  </main>
</Layout>

<style>
  main {
    color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    height: 100%;
    background-color: rgb(32, 33, 36);
  }

  #current-time {
    font-style: italic;
  }
</style>

<script>
  function updateTime() {
    const timeElement = document.getElementById('current-time')
    if (timeElement) {
      timeElement.textContent = new Date().toLocaleString()
    }
  }

  // Update time immediately and then every second
  updateTime()
  setInterval(updateTime, 1000)
</script>
